.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem:hover {
  transform: scale(1.05);
  /* 5% büyüt */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* Gölge efekti ekle */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Animasyon için geçiş süresi */
}

.categoryItem.a0 {
  background-color: #57c4ff31;
}

.categoryItem.a1 {
  background-color: #da85c731;
}

.categoryItem.a2 {
  background-color: #7fb88133;
}

.categoryItem.a3 {
  background-color: #ff795736;
}

.categoryItem.a4 {
  background-color: #ffb04f45;
}

.categoryItem.a5 {
  background-color: #5e4fff31;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  /* Yatayda ortala */
  align-items: center;
  /* Dikeyde ortala */
  /* height: 100vh; Bu satırı kaldırıyoruz. */
  flex: 1;
  /* Esnek bir şekilde içeriği doldur. */
}