.container {
    flex: 5
}

.title {
    margin: 50px 0px;
}


.spinnerContainer {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  /* height: 100vh; Bu satırı kaldırıyoruz. */
  flex: 1; /* Esnek bir şekilde içeriği doldur. */
}