.container {
  max-width: 1200px; /* Maksimum genişlik */
  margin: auto; /* Otomatik marj ile ortala */
  padding: 0 20px; /* Sağdan ve soldan boşluk */
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.content {
  display: flex;
  flex-direction: column; /* Sütun şeklinde sıralansın */
  gap: 50px;
}

.post {
  flex: 1;
  margin-top: 60px;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.tags {
  margin-top: 20px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rateContainer {
  padding: 8px 12px;
  margin-left: 50px;
  background-color: #f3f4f6;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.actionsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Satır atlamayı sağlar */
}

.rateText {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-right: 5px;
}

.favoriteButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.favoriteButton:hover {
  background-color: #ff6b81;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .actionsContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .description p {
    font-size: 18px;
  }

  .rateContainer {
    padding: 6px 10px;
  }

  .rateText {
    font-size: 14px;
  }

  .ant-rate {
    font-size: 18px;
  }
}
