.articleImageWrapper {
  height: 150px;
  /* Bu değer resminizin dikdörtgen oranını belirleyecek */
  margin-top: 16px;
  overflow: hidden;
  /* Taşan resim kısımlarını keser */
  border-radius: 8px;
  /* Dış div'in köşelerini yuvarlak yapar */
}

.articleImageWrapper img {
  width: 100%;
  /* Resmi genişliğine göre ayarlar */
  height: auto;
  /* Resmin yüksekliğini orijinal oranına göre ayarlar */
  min-height: 100%;
  /* Resmi daima div'in yüksekliğine en azından eşit yapar */
  object-fit: cover;
  /* Resmi div boyutuna sığdırır */
}

/* Devamını Oku butonu varsayılan olarak gizli */
.readMoreButton {
  display: none;
  /* Başlangıçta buton görünmez */
  position: absolute;
  /* Pozisyonunu Card'a göre ayarlar */
  top: -25px;
  /* Üst kenardan 0 pixel, kartın üst sınırına hizalanmış */
  right: -3px;
  /* Sağ kenardan 0 pixel, kartın sağ sınırına hizalanmış */
  background-color: rgba(255, 255, 255, 0.9) !important;
  /* Buton için beyaz tonunda saydam arka plan */
  color: #333 !important;
  /* Başlangıç yazı rengi */
  padding: 6px 12px;
  /* İçerik ile buton kenarı arasında boşluk */
  border-radius: 12px;
  /* Köşeleri yuvarlak yapar */
  cursor: pointer;
  /* Mouse üzerine geldiğinde el işaretini gösterir */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Renk değişiminde yumuşak geçiş */
  font-size: 12px;
  /* Yazı boyutu */
  font-weight: bold;
  /* Yazı tipini kalın yapar */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
  /* Gölgelendirme ekler */
  z-index: 10;
  /* Üst katmanda olması için */
}

.cardHover:hover .readMoreButton {
  display: block;
  /* Kartın üzerine gelindiğinde buton görünür olur */
  background-color: rgba(0, 123, 255, 0.9);
  /* Mavi tonunda saydam arka plan */
  color: white;
  /* Yazı rengini beyaz yap */
}

/* Kartın üzerine gelindiğinde butonun arka planını değiştir */
.cardHover:hover .readMoreButton:hover {
  background-color: rgba(0, 123, 255, 0.9)  !important;
  /* Mavi tonunda saydam arka plan */
  color: white  !important;
  /* Yazı rengini beyaz yap */
}

.ant-card-body:hover .readMoreButton {
  display: block;
  /* Kartın üzerine gelindiğinde buton görünür olur */
}

.customTitle {
  white-space: normal;
  overflow-wrap: break-word;
  /* Uzun kelimeleri satır sonunda kırar */
  line-height: 1.5em;
  /* satır yüksekliği */
  display: block;
  overflow: hidden;
  /* Eğer yükseklik sınırlıysa ve metin sığmıyorsa */
  max-height: 4.5em;
  /* 3 satır için yeterli yükseklik varsayılan font-size ve line-height ile */
  line-height: 1.5em;
  /* Satır yüksekliği */
}

.trendingArticleCard .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  /* İçerik ve kenarlar arasında boşluk */
}

/* Menüyü varsayılan olarak gizle */
.trendingArticleCard .ant-dropdown-link {
  display: none;
}

/* Kartın üzerine gelindiğinde menüyü göster */
.trendingArticleCard:hover .ant-dropdown-link {
  display: block;
}

.actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* Her bir action öğesini genişlet */
}

.radioStyle {
  display: block;
  height: 30px;
  line-height: 30px;
}

.hotLabelPlaceholder {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4500;
  transition: opacity 0.3s, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
  opacity: 0;
  /* Başlangıçta tamamen görünmez */
  z-index: 10;
}

.potentialHotLabel {
  opacity: 0;
  /* Hover olmadan önce yine görünmez olmalı, eğer bugün ise */
  content: "HOT";
  display: block;
  color: white;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 20px;
}

.trendingArticleCard:hover .hotLabelPlaceholder {
  /* Sadece genişlik ve yüksekliği animasyonla değiştir, başka bir şey yapma */
}

.trendingArticleCard:hover .potentialHotLabel {
  width: 50px;
  /* Genişliği artır */
  height: 20px;
  /* Yüksekliği düzelt */
  border-radius: 4px;
  /* Köşeleri düzelt */
  opacity: 1;
  /* Şimdi görünür yap */
}