.container {
  margin-top: 50px;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  padding: 20px;
  width: 100%;
}

.button {
  padding: 16px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments {
  margin-top: 50px;
}

.comment {
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-weight: 500;
}

.date {
  font-size: 14px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

/* Özelleştirilmiş Card stiliniz */
.customCard {
  margin-top: 20px; /* İhtiyaca göre ayarlayın */
  border-radius: 5px; /* Kartın köşe yuvarlaklığı */
  /* Diğer gerekli stil ayarlamalarınız */
}

/* Özelleştirilmiş Input stiliniz */
.customInput {
  margin-bottom: 20px; /* Input altındaki boşluk */
  /* Diğer gerekli stil ayarlamalarınız */
}

/* Özelleştirilmiş Switch ve metin stiliniz */
.customSwitch {
  display: flex;
  align-items: center;
  gap: 8px; /* İkon ve metin arasındaki boşluk */
  margin-bottom: 20px; /* Switch altındaki boşluk */
  /* Diğer gerekli stil ayarlamalarınız */
}

/* Gösterme gizleme animasyonu için stil */
.commentDetails {
  /* Başlangıçta eleman görünmez olacak */
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease, display 0.2s ease;
}

/* React state'e bağlı olarak detaylar gösterildiğinde */
.commentDetailsShow {
  display: block;
  opacity: 1;
}