.cardContainer {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
  /* Buton için altta yeterli yer bırakın */
}

.cardContainer .thumbnail {
  width: 100%;
  height: 200px;
  /* Adjust based on your preference */
  background-color: #f0f0f0;
  /* Placeholder color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 20px;
}


.container {
  display: flex;
  flex-direction: column;
}

.editor {
  height: auto;
  /* Adjust based on your content */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input,
.textArea {
  width: 100%;
  resize: vertical;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea::placeholder {
  color: var(--textColor);
}

.textArea {
  width: 100%;
}

.thumbnail-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.publish {
  position: absolute;
  bottom: 10px;
  /* Alt kısımdan boşluk bırak */
  right: 20px;
  /* Sağ kısımdan boşluk bırak */
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}


.publish:disabled {
  background-color: #ccc;
  /* Gri tonu, pasif olduğunu belirtir */
  color: #666;
  /* Yazı rengini koyu gri yap */
  cursor: not-allowed;
  /* Üzerine gelindiğinde cursor'u yasak işareti yap */
}


.fixedToolbar {
  position: fixed;
  top: 0;
  width: 100%; /* Araç çubuğunun tam genişlikte olmasını sağlar */
  z-index: 1000; /* Diğer içeriklerin üzerinde kalır */
  background-color: white; /* Arka plan rengi */
}
