
.title {
  margin: 50px 0px;
}


.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}
.category:hover {
  transform: scale(1.05); /* 5% büyüt */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Gölge efekti ekle */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animasyon için geçiş süresi */
}

.category.a0 {
  background-color: #57c4ff31;
}

.category.a1 {
  background-color: #da85c731;
}

.category.a2 {
  background-color: #7fb88133;
}

.category.a3 {
  background-color: #ff795736;
}

.category.a4 {
  background-color: #ffb04f45;
}

.category.a5 {
  background-color: #5e4fff31;
}

.image {
  border-radius: 50%;
}

.spinnerContainer {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  /* height: 100vh; Bu satırı kaldırıyoruz. */
  flex: 1; /* Esnek bir şekilde içeriği doldur. */
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
  .category:hover {
    transform: scale(1.03); /* Daha az büyütme yap */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Daha az gölge */
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
